@page "/sheetrender"

@using BlazorSheet.Components
@using HubCloud.BlazorSheet.Core.Enums

<h3>SheetRenderPage</h3>
<hr/>

<div class="row">
    <div class="col-sm-12">
        
        <HubCloud.BlazorSheet.Components.SheetComponent 
            Sheet="@_sheet"
            MaxHeight="500px"
            MaxWidth="1000px"
            Regime="SheetRegimes.Readonly" ></HubCloud.BlazorSheet.Components.SheetComponent>
        
    </div>
</div>

