@page "/sheetedit"
@using HubCloud.BlazorSheet.Core.Enums
@using HubCloud.BlazorSheet.Components

<h3>Sheet Edit</h3>

<hr/>

<SheetCommandPanel Model="@_commandPanelModel"
                   Changed="OnStyleChanged">
</SheetCommandPanel>

<hr/>

<div class="row">

    <div class="col-sm-12">

        <SheetComponent Sheet="@_sheet"
                        MaxHeight="500px"
                        MaxWidth="1000px"
                        Regime="@SheetRegimes.Edit"
                        CellSelected="OnCellSelected"
                        CellsSelected="OnCellsSelected"
                        RowSelected="OnRowSelected"
                        ColumnSelected="OnColumnSelected"
                        CellClientXSelected="OnCellClientXSelected"
                        CellClientYSelected="OnCellClientYSelected">
        </SheetComponent>

    </div>

</div>