@page "/sheetgroupedrows"

@using HubCloud.BlazorSheet.Components
@using HubCloud.BlazorSheet.Core.Enums

<h3>SheetGroupedRows</h3>
<div class="row">
    <div class="col-sm-12">
        <button class="btn btn-sm btn-outline-primary" @onclick="OnSerializeSheet">Serialize sheet</button>
        <button class="btn btn-sm btn-outline-primary" @onclick="OnDeserializeSheet">Deserialize sheet</button>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-sm-12">

        <SheetComponent Sheet="@_sheet"
                        MaxHeight="500px"
                        MaxWidth="1000px"
                        Regime="SheetRegimes.InputForm"></SheetComponent>

    </div>
</div>