<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">HubCloud.BlazorSheet.ServerSideExamples</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sheetrender">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> Sheet render
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sheetedit">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> Sheet edit
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sheetinput">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> Sheet input
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="SheetFreezedColumnsPage">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> Sheet freezed
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sheetvirtualization">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> Sheet virtualization
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="formulaexamples">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> Formulas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dependencycalc">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> Dependency calc
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="groupsheet">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> Group sheet
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="allcontrolspage">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> All controls
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="sheetautofitcolumns">
                <span class="oi oi-grid-three-up" aria-hidden="true"></span> Sheet autoFit columns
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

}