<td class="hc-grid-cell text-center"
    @onclick="(async () => await Click.InvokeAsync())"
    @oncontextmenu="(async (e) => await ColumnContextMenu.InvokeAsync(e))"
    @oncontextmenu:preventDefault
    style="@GetCellStyle()">
    <span>@(Sheet.ColumnNumber(Column))</span>
</td>