<td class="hc-grid-cell"
    style="@GetCellStyle()"
    @onclick="(async () => await Click.InvokeAsync())"
    @oncontextmenu="(async (e) => await RowContextMenu.InvokeAsync(e))"
    @oncontextmenu:preventDefault>
    <span>@(Sheet.RowNumber(Row))</span>
</td>