@page "/SheetTestRenderPage"

@using BBComponents.Components
@using HubCloud.BlazorSheet.WasmExamples.Client.Components

<h3>SheetTestRenderPage</h3>

<hr/>
<div class="row">
    <div class="col-sm-2">
        <BbNumberInput @bind-Value="@_rowsCount" Placeholder="RowsCount"></BbNumberInput>
    </div>
    <div class="col-sm-2">
        <BbNumberInput @bind-Value="@_columnsCount" Placeholder="ColumnsCount"></BbNumberInput>
    </div>
    <div class="col-sm-2">
        <BbButton Clicked="OnRenderClick">Render</BbButton>
    </div>
</div>
<hr/>

@if (_sheet != null)
{
    <div class="row">
        <div class="col-sm-12">

            <SheetTestComponent Sheet="@_sheet"></SheetTestComponent>

        </div>
    </div>
}