<select style="width: 100%"
        disabled=@IsDisabled
        value="@_value"
        @onchange="(e => OnValueChanged(e))">

    @foreach (var item in _source)
    {
        <option value="@item.Item1">@item.Item2</option>
    }

</select>

